* {
-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
box-sizing: border-box;
}
html, body { height: 100%; margin: 0; }
.container {
    margin: 0 auto;
    max-width: 700px;
}
.multi-grid-nav {
    display: inline-block;
}
.squares-container {
    float: left;
    margin-right: 3px;
}
.square {
    background-color: black;
    width: 10px;
    height: 10px;
    margin-bottom: 3px;
}
.bars-container {
    float: left;
    margin-right: 18px;
}
.bars-container .bar {
    background-color: black;
    width: 23px;
    height: 10px;
    margin-bottom: 3px;
}
.bars-container:hover .bar,
.squares-container:hover .square {
    background-color: gray;
}
.text-center {
text-align: center;
}
/* Images */
img {
vertical-align: middle;
width: 100%;
height: auto;
}
/* Columns */
.col-lg-4, .col-lg-12 {
float: left;
position: relative;
min-height: 1px;
padding-right: 10px;
padding-left: 10px;
}
.col-lg-4 {
width: 33.33333333%;
}
.col-lg-12 {
width: 100%;
}
}